<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Electrolize&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<title>Bensinstöð</title>
</head>
<body>
	<div class="pappa" style="height: 100%">
		<h1 class = "mama">BENSINSTÖÐ</h1>smoke gras eat ass, slay noobs lick boobs, Gussy up then pussy fuck, cream her pie say goodbie,
		<h2>Bensin95 : {{ station['bensin95'] }}</h2>
		<h2>Bensin95 Afslattur : {{ station['bensin95_discount'] }}</h2>
		<h2>Disel : {{ station['diesel'] }}</h2>
		<h2>Disel Afslattur : {{ station['diesel_discount'] }}</h2>
	</div>
	<h4 class = "mama"> peepee poopoo is my daddy </h4>
</body>
</html>